* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

/* ================
   MAIN PAGE CSS
   ================ */
#main-page #container{
  display: flex;
  flex-direction: column;
}

  #main-page body {
    font-family: "Open Sans";
    font-size: 20px;
  }

 nav{
      background: none;
      float: right;
  }
  
 nav p{
      margin-right: 10px;
      margin-top: 10px;
      color: white;
  }

  nav a{
    text-decoration: none;
    color: white;
    font-size: 13px;
  }

#main-page h1{
    font-size: 90px;
    white-space: nowrap;
    padding-right: 20px;
    font-family: 'Inconsolata', monospace;
    height: 150px;
  }

  .bio p{
      font-size: 18px;
      line-height: 1.6;
      letter-spacing: 0.5px;
      width: 250px;
      margin-top: 10px;
  }

  .clear {
      clear: both;
  }

  #main-page header{
    background: linear-gradient(black, #585858);
    color: white; 
    font-size: 20px;
    height: 750px;
    padding-left: 50px;
    
  }

  #main-page section{
      height: 350px;
      padding-top: 30px;
      border-top: 1px solid grey;
  }

  footer, section:nth-child(even) {
    background-color: #ddd;
  }

  .project-link{
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-left: 70px solid black;
    border-bottom: 45px solid transparent;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
  }

  #main-page a:hover{
    transform: scale(1.1);
  }

  .section1{
     background: url('./portfolio-images/theoffice.jpg') no-repeat; 
      filter: grayscale(100%);
      background-size : 100% auto;
      opacity: 0.4;
  }

  .app-description{
    width: fit-content;
    margin-left: 30px;
    font-family: 'Inconsolata', monospace;
    line-height: 30px;
    font-size: 3vw;
  }

  .see-code{
    position: absolute;
    bottom: 10px;
    margin-left: 20px;
    font-size: 3vw;
  }

  .see-code a:hover{
    text-decoration: underline;
  }

  .js-contact-button{
    margin-right: 20px;
    margin-top: 10px;
    background: none;
    border: none; 
    color: white; 
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
  }

  .js-contact-button:hover{
    cursor: pointer;
  }

/* ================
   CONTACT PAGE CSS
   ================ */

body, html {
    margin: 0;
    display: flex;
    flex: auto;
    flex-flow: wrap;
    flex-direction: column;
    font-size: 100%;
}

#contact-page h1{
    margin-top: 250px;
    margin-left: 100px;
    font-size: 5vw;
    font-family: 'Inconsolata', monospace;
}


#contact-page .left-pane{
    background: #202020;
    color: white;
    height: 730px;
    width: 40%;
    float: left;
    border-collapse: collapse;
}

#contact-page .right-pane{
    background: green;
    width: 60%;
    height: 100%;
    position: relative;
    float: right;
    border-collapse: collapse;
}

#contact-page .email, .linkedin, .github{
    height: 243.3px;
    line-height: 50px;
    padding-top: 50px;
    padding-left: 100px;
    border-bottom: 1px solid black;
    color: white;
    font-size: 3vw;
    font-family: 'Inconsolata', monospace;
}

.email{
    background-color: #202020;
}

.linkedin{
    background-color:#181818;
}

.github{
    background-color: #282828;
}

#contact-page a {
    color: grey;
    text-decoration: none;
}

#contact-page a:hover{
    text-decoration: underline;
    color: white;
}

.return {
    margin-left: 20px;
    margin-top: 10px;
    background: none;
    border: none;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

.return:hover {
  cursor: pointer;
} 

/* #arrow-container {
    width: 45px;
    height: 45px;
    margin: 50px auto;
    position: absolute;
    bottom: 0px; 
    margin-left: 50%;
  }
  .topArrow {
    fill: #fff;
    transform: rotate(-90deg);
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 20%;
    margin: 0 0 0 -22px;
  }
   */